.combatHUD {
  opacity: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
  top: calc(100% + 60px);
  height: auto;
  position: absolute;
}
